@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body{
  font: 400 13px Roboto, sans-serif;
  background: #f0f0f5;
  -webkit-font-smoothing: antialiased;
  width: 100%;
}

.Top-header {
  display: flex;
  align-items: center;
  font: 700 18px Roboto, sans-serif;
  color: white;
  background-color: #e60014;
  padding: 20px 40px;
}

.Sub-header {
  padding: 10px 40px;
  color: #41414d;
  background-color: white;
  font: 500 15px Roboto, sans-serif
}

.main{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 16px;
  margin-bottom: 16px;
  padding: 0 30px;
  margin: 35px auto;
  font: 400 14px Roboto, sans-serif
}

.main .card{
  box-shadow: 0 0 8px rgba(0, 0 , 0, 0.1);
  transition: box-shadow 0.4s, transform 0.2s ease-out;
}

.main .card:hover{
  box-shadow: 0 0 10px rgba(0, 0 , 0, 0.3);
  transform: scale(1.02);
}

.main img{
  max-height: 170px;
  object-fit: cover;
  box-shadow: 0 2px 4px 0px rgba(0, 0 , 0, 0.2);
}